*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 16px 24px;

}
.navbar .logo{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .logo .lion{
    display: flex;
    width: 32px;
    height: 32px;
}

p.nav-name-col{
    color: black;
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}

p.nav-name-aca{
    color: rgb(95, 95, 95);
    font-size:larger;
}

.navbar .links{
    display:flex;
}


.navbar .links li{
    margin: 0 16px;
    list-style: none;
}

.links li a{
    text-decoration: none;   
    color: black;    
}

.container{
    background-color: #dfdfdf;;
    display: flex;
    padding: 32px 24px;
    gap: 24px;
}
.container img{
    width: 60%;          
  height: auto;

}

.right-container{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.right-container  h1{
    color: rgb(0, 0, 0);
    font-size: 50px; 
}
.right-container p{   
  font-size: 25px;       
  margin-bottom: 24px; 
  margin-top: 8px; 

}
.right-container button {
  background-color: #333; 
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 75px;
  font-size: 18px;
  font-style:normal;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}
/*---------------Mobile-Nav--------------*/
.navbar-mobile {
  display: none;
}

/* --------------PAGE2------------------*/
.page2 {
    display: flex;
    padding: 32px 24px;
    background-color: white;
}
.page2 .main-info h1{
    padding-top: 32px;
    padding-bottom: 24px;
    font-size: 60px;
}
.page2 .main-info .container2-text1{
   font-size: 16px;
   font-weight: lighter;
   padding-bottom: 24px;
}
.page2 .main-info .container2-text2{
   font-size: 16px;
   font-weight: lighter;
   padding-bottom: 32px;
}

.main-info {
    flex: 1; 
    padding-right: 24px;               

}
div .box1{
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(184, 184, 184, 0.664);
   
}
div .box2{
    padding: 16px;
    border: 1px solid rgba(184, 184, 184, 0.664);

}
div .box3{
    padding: 16px;
    background-color:rgba(189, 189, 189, 0.473);
    border: 1px solid rgba(184, 184, 184, 0.664);

}
.side-box {
    flex: 2;                 
    display: flex;
    flex-direction:column;
    align-items: left;
    
}
.side-box .box1{
    display: flex;
    flex-direction: row;

}
.info-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 65%;
}
.info-box1 h1{
    padding-bottom: 8px;
}
.side-box .box1 img{
    width: 35%;
    height: auto;
}
a.btn-readmore{
    color: #30A9DE;
    text-decoration: none;
    padding-top: 8px;
}

.side-box .box2{
    display: flex;
    flex-direction: row;

}
.info-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 65%;
}
.info-box2 h1{
    padding-bottom: 8px;
}
.side-box .box2 img{
    width: 35%;
    height: auto;
}
a.btn-readmore{
    color: #30A9DE;
    text-decoration: none;
    padding-top: 8px;
}

.side-box .box3{
    display: flex;
    flex-direction: row;
}

.info-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 65%;
}

.info-box3 h1{
    padding-bottom: 8px;
}

.side-box .box3 img{
    width: 35%;
    height: auto;
}

a.btn-readmore{
    color: #30A9DE;
    text-decoration: none;
    padding-top: 8px;
}
/* --------------PAGE3----------------------------*/
.page3{
    background-color: #b6b6b694;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 32px;

}
.page3 h1{
    text-align: center;
    padding: 32px;
}
.grid-container-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:32px;
}
.block1{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    justify-items: left;
    
}
.block1-info {
    padding-top: 16px;
    padding-left: 6px;
    padding-bottom: 24px;
    
}
.block1-info *{
  padding: 10px 10px;
    
}



.block1-info > p{
    font-size: small;
}

.block2{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    justify-items: left;
}
.block2-info > *{
    padding: 8px 16px;
}
.block2-info > p{
    font-size: small;
}
.block3{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    justify-items: left;
}
.block3-info > *{
    padding: 8px 16px;
}
.block3-info > p{
    font-size: small;
    color: var(--light-grey);
}
.block4{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    justify-items: left;
}
.block4-info > *{
    padding: 8px 16px;
}
.block4-info > p{
    font-size: small;
}
.block5{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    justify-items: left;
}
.block5-info > *{
    padding: 8px 16px;
}
.block5-info > p{
    font-size: small;
}
.block6{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    justify-items: left;
}
.block6-info > *{
    padding: 8px 16px;
}

.block6-info > p{
    font-size: small;
}

.block1-img img{
    height: auto;
}
.block2-img img{
    height: auto;
    padding-bottom: 16px;
}

.block3-img img{
    height: auto;
    padding-bottom: 16px;
}

.block4-img img{
    height: auto;
    padding-bottom: 16px;
}

.block5-img img{
    height: auto;
    padding-bottom: 16px;
}

.block6-img img{
    height: auto;
    padding-bottom: 16px;
}
/*----------------PAGE4--------------*/
.Thesis-exhibit{
    display: flex;
    flex-direction: column;
    
}
.ThesisH1{
    display: flex;
    justify-content: center;
    padding: 32px;
}
.thesis-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.thesis-left{
    flex: 3;
    
}
.thesis-left video {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  display: block;
  
}

.thesis-right{
  flex:2;

}
.fisma{
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #d8d8d8; 
    border-bottom: 1px solid #ddd; 
    gap: 16px;
    margin-left: 16px;
}

.Now{
    display: flex;
    align-items: center;
    padding: 16px;
    background-color:#f3f5f5;
    border-bottom: 1px solid #ddd; 
    gap: 16px;
    margin-left: 16px;

}